<div id="dialog" class="window dialog" role="dialog" aria-labelledby="dialog-title" data-state="start">
    <div class="title-bar">
        <div class="title-bar-text" id="dialog-title">{{ site.title }}</div>
    </div>
    <div class="window-body">
        <p class="dialog-start-text"><strong>error404</strong> by <a href="https://annabest.info/">Anna Best</a> with Pete Edwards, 2000.</p>
        <p class="dialog-start-text">Windows will open and move around your screen while the story of Mrs L. is typed out. The piece lasts about 20 minutes and isn't interactive.</p>
        <p class="dialog-ended-text">error404 has finished.</p>
        <fieldset class="dialog-os">
            <legend>Desktop</legend>
            <label><input type="radio" name="os" value="win"> Windows 98</label>
            <label><input type="radio" name="os" value="mac"> Mac OS 8</label>
        </fieldset>
        <div class="dialog-buttons">
            <button id="dialog-start"><span class="dialog-start-text">Start</span><span class="dialog-ended-text">Play again</span></button>
        </div>
    </div>
</div>
