<button class="js-toggle-fullscreen-btn toggle-fullscreen-btn" aria-label="Enter fullscreen mode" hidden>
	<svg class="toggle-fullscreen-svg" width="28" height="28" viewBox="-2 -2 28 28">
		<g class="icon-fullscreen-enter">
			<path d="M 2 9 v -7 h 7" />
			<path d="M 22 9 v -7 h -7" />
			<path d="M 22 15 v 7 h -7" />
			<path d="M 2 15 v 7 h 7" />
		</g>
		<g class="icon-fullscreen-leave">
			<path d="M 24 17 h -7 v 7" />
			<path d="M 0 17 h 7 v 7" />
			<path d="M 0 7 h 7 v -7" />
			<path d="M 24 7 h -7 v -7" />
		</g>
	</svg>
</button>
<button class="js-screenshot-btn screenshot-btn" aria-label="Take a screenshot" title="Take a screenshot" hidden>
	<svg class="screenshot-svg" width="28" height="28" viewBox="-2 -2 28 28" aria-hidden="true">
		<path d="M 2 7 h 5 l 2 -3 h 6 l 2 3 h 5 v 13 h -20 z" />
		<circle cx="12" cy="13" r="4" />
	</svg>
</button>
