html, body, #error404-container {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
#error404-container {
	position:relative;
	background-size: cover;
}
body.win98 {
	background-image:url('../images/windows_xp_bliss-wide.jpg');
}
