.toggle-fullscreen-btn {
	position: fixed;
	z-index: 10000;
	top: 10px;
	right: 10px;
	padding: 2px;
    border: none;
    background: rgba(255,255,255,0.5);
    width: 32px;
    min-width: 32px;
    box-shadow: none;
    height: 32px;
	cursor: pointer;
	outline: none;

    &:hover path:nth-child(1),
    &:focus path:nth-child(1) {
        transform: translate(-2px, -2px);
    }
    
    &:hover path:nth-child(2),
    &:focus path:nth-child(2) {
        transform: translate(2px, -2px);
    }
    
    &:hover path:nth-child(3),
    &:focus path:nth-child(3) {
        transform: translate(2px, 2px);
    }
    
    &:hover path:nth-child(4),
    &:focus path:nth-child(4) {
        transform: translate(-2px, 2px);
    }
    
    &:not(.on) .icon-fullscreen-leave {
        display: none;
    }
    
    &.on .icon-fullscreen-enter {
        display: none;
    }
}


.toggle-fullscreen-svg {
	display: block;
	height: auto;
    path {
        transform-box: view-box;
        transform-origin: 12px 12px;
        fill: none;
        stroke: hsl(225, 10%, 8%);
        stroke-width: 4;
        transition: .15s;
    }
}



