.window {
	display: flex;
	flex-direction: column;
	position: absolute;
	visibility: hidden;
	&.active {
		visibility: visible;
	}
	.title-bar {
		.win98 & {
			background: linear-gradient(90deg, $dialog-blue, $dialog-blue-light);
			padding: 3px 2px 3px 3px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		button {
			cursor: pointer;
			.win98 & {
				border: none;
				color: transparent;
				text-shadow: 0 0 $text-color;
				background: $surface;
				box-shadow: $border-raised-outer, $border-raised-inner;
				border-radius: 0;
				&:not(:disabled):active {
					box-shadow: $border-sunken-outer, $border-sunken-inner;
					text-shadow: 1px 1px $text-color;
				}
				&:focus {
					outline: 1px dotted $black;
					outline-offset: -4px;
				}
				&:disabled {
					text-shadow: 1px 1px 0 $button-highlight;
				}
			}
		}
	}
	.window-body {
		flex: 1;
		padding:0;
		margin: 0;
		background: #fff;
	}
}

/* visibility switcher */
@keyframes cssv {
    from {
	    visibility: visible;
	}
    100% {
	    visibility: hidden;
	}
}
#mrsl {
    animation: mrsl 120s linear 5s infinite;	
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100px;
	height: 150px;
	.window-body {
		text-align: center;
	}
}
#mall {
	animation: cssv 30s linear 8s;
    width: 150px;
    height: 160px;
    left: calc(50vw - 75px);
    bottom: 0;
}
#text01 {
	animation: cssv 28s linear 11s;
    width: 290px;
    height: 250px;
    left: 0;
    top: 300px;
	font: 1.5rem serif;
	z-index:49;
}
#allshops {
	animation: cssv 11s linear 35s;
    width: 390px;
    height: 275px;
    left: 52vw;
    top: 50;
}
#map {
	animation: cssv 9s linear 36s;
    width: 200px;
    height: 277px;
    right: 0;
    top: 0;
}
@keyframes downloadfree {
    from {
	    top: 0;
	}
    100% {
	    top: calc(100vh - 100px);
	}
}
#downloadfree {
	animation: downloadfree 20s linear 36s;
    width: 300px;
    height: 100px;
    left: 0;
    top: 0;
}
#carshowroom {
	animation: cssv 8.5s linear 36.5s;
    width: 333px;
    height: 230px;
    left: 40vw;
    bottom: 0;
}
@keyframes texttwo {
    from {
	    top: calc(50vh + 50px);
	}
    100% {
	    top: 0
	}
}
#text02 {
	animation: texttwo 20s linear 50s;
    width: 640px;
    height: 290px;
	right: 0;
    top: calc(50vh + 50px);
	font: 1.5rem sans-serif;
	z-index:49;
}