.window {
	display: inline-block;
	position:absolute;
	.title-bar {
		button {
			cursor: pointer;
		}
	}
}
.mrsl {
	left: 0;
	top: 0;
	z-index: 1000;
    animation: mrsl 120s linear infinite;	
	.window-body {
		text-align: center;
	}
}
.mall {

}
