.xp {
  background-image:url('../images/windows_xp_bliss-wide.jpg');
  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar-corner {
    background: #dfdfdf;
  }
  ::-webkit-scrollbar-track {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
  }
  ::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff,
      inset -2px -2px grey, inset 2px 2px #dfdfdf;
  }
  .window {
    font-size: 11px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf,
      inset -2px -2px grey, inset 2px 2px #fff;
    background: silver;
    padding: 3px;
    button {
        font-size: 11px;
        box-sizing: border-box;
        border: none;
        background: silver;
        box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff,
        inset -2px -2px grey, inset 2px 2px #dfdfdf;
        border-radius: 0;
        min-width: 75px;
        min-height: 23px;
        padding: 0 12px;
        cursor: pointer;
        font-family: "Pixelated MS Sans Serif", Arial;
        -webkit-font-smoothing: none;
    }
    button:not(:disabled):active {
        box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf, inset 2px 2px grey;
    }
    button:focus {
        outline: 1px dotted #000;
        outline-offset: -4px;
    }
    button:disabled {
        color: grey;
        text-shadow: 1px 1px 0 #fff;
    }
}
  .window {
  }
  .title-bar {
    font-size: 11px;
    background: linear-gradient(90deg, navy, #1084d0);
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-bar-text {
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    margin-right: 24px;
  }
  .title-bar-controls {
    display: flex;
  }
  .title-bar-controls button {
    padding: 0;
    display: block;
    min-width: 16px;
    min-height: 14px;
  }
  .title-bar-controls button:focus {
    outline: none;
  }
  .window-body {
    margin: 8px;
  }
  @media (not(hover)) {
    button:not(:disabled):hover {
      box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf, inset 2px 2px grey;
    }
  }
  .window {
    font-family: "Pixelated MS Sans Serif", Arial;
    -webkit-font-smoothing: none;
  }
  .title-bar-controls button[aria-label="Close"] {
    margin-left: 2px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top 3px left 4px;
  }
}
