<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}

<body>
    <main id="screen" class="desktop">
        {% include menubar.html %}
        <div id="windows"></div>
        {% include dialog.html %}
        {{ content }}
        {% include taskbar.html %}
    </main>
    <div id="debug" hidden></div>
    {% include fullscreen.html %}
    {% include windows.html %}
    <script id="timeline-data" type="application/json">{{ site.data.timeline | jsonify }}</script>
    {% include foot.html %}
</body>
</html>
